# --- OS / IDE Junk ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.log

# --- .NET / Backend Junk ---
**/bin/
**/obj/
**/publish/
**/out/
*.user
*.userosscache
*.sln.docuser
**/Properties/launchSettings.json

# --- Node / Frontend Junk ---
**/node_modules/
**/dist/
**/.angular/
**/tmp/
**/coverage/
**/bazel-out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Docker & Database Junk ---
.data/
postgres_data/
**/.env